div#header {
  float: right;
  padding-top: 5%;
}
#body {
  width: 80%;
  margin: 0 auto;
}

div.frame {
  background-color: lightgrey;
}

#content {
  padding-top: 5%;
}

#main {
  border: 1px red solid;
}
